[client]
port                    = 3306
default-character-set   = utf8mb4

[mysqld]
user                    = root
port                    = 3306
sql_mode                = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
# 数据库默认存储引擎
default-storage-engine  = InnoDB
# 数据库默认认证插件
default-authentication-plugin   = mysql_native_password
# 数据库字符集
character-set-server    = utf8mb4
# 数据库排序规则
collation-server        = utf8mb4_unicode_ci
# 数据库初始化连接字符集
init_connect            = 'SET NAMES utf8mb4'

# 慢查询日志
slow_query_log
# 慢查询日志时间阈值
long_query_time         = 3
# 慢查询日志文件路径
slow-query-log-file     = /var/log/mysql/mysql.slow.log
# 错误日志文件路径
log-error               = /var/log/mysql/mysql.error.log

default-time-zone       = '+8:00'

[mysql]
default-character-set   = utf8mb4